<%- include('partials/head.ejs') -%>
    <%- include('partials/navbar.ejs') -%>

    <div id="content">
        <h1>Quem somos</h1>
        <p>Somos uma startup idealizada para auxiliar o processo de investimentos estrangeiro no Estado do Ceará. Contamos com uma equipe multidisciplinar e preparada para auxiliar através de nossos serviços o processo de investimento. Acreditamos no potencial do nosso Estado, uma vez que o conhecimento gera experiências e novas oportunidades.</p>
        <h2>Nosso time tem as expertises necessárias para coletar, tratar e analisar diversos dados para geração de insigts assertivos, afim de proporcionar uma experiência satisfatória para nossos clientes</h2>
    </div>

    <div id="image">
        <img src="/undraw_screen_time_vkev@2x.png" alt="">
    </div>
</body>
</html>