<%- include('partials/head.ejs') -%>
    <%- include('partials/navbar.ejs') -%>

    <div id="content">
        <h1>Contatos</h1>
        
        <label for="name">Nome</label>
        <input type="text" class="input" name="name" id="name" placeholder="Digite seu nome">
        <label for="name">Email</label>
        <input type="email" class="input" name="name" id="name" placeholder="Digite seu email">
        <label for="name">Mensagem</label>
        <input type="textarea" class="input" name="name" id="name" placeholder="Digite sua mensagem">
        
        <a href="/analise"><button id="btn-login">Enviar</button></a>
    </div>

</body>
</html>