<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="register-background">
        <div class="form">
            <form method="POST" action="/login">
                <h2>Log in</h2>
                <label for="name">E-mail</label><br>
                <input type="email" name="email" id="email" class="input" placeholder="Digite seu e-mail"><br>
                <label for="name">Senha</label><br>
                <input type="password" name="password" id="password" class="input" placeholder="Digite sua senha"><br>
                <label for="name">Repita sua senha</label><br>
                <button class="submit" type="submit">Login</button><br><br>
            </form>
            
            <div>
                <a href="#">Esqueci minha senha</a><br>
                <a href="#">Cadastre-se já</a><br>
            </div>
        </div>


        <div id="image-background">
            <img src="/Log In Scene.png" alt="imagem de login">
        </div>
    </div>

</body>
</html>