<!DOCTYPE html>
<%- include('partials/head.ejs') -%>
    <%- include('partials/navbar.ejs') -%>

    <div id="services">
        <div id="services-1">
            <h1>Analise de seguimentos</h1><hr>
            <p>Durante a analise de seguimento pode haver uma conexão entre você e a empresa que se interessou separadas por seguimentos, tudo em um lugar só, e calma que ainda não acabou, além disso ainda tem as projeções de cada empresa, tudo isso a gente facilita para você!</p>
            <a href="/analise"><button id="btn-login">Faça sua Analise</button></a>
        </div>
        <div id="services-2">
            <h1>Conexões e Projeções</h1><hr>
            <p>Durante a analise de seguimento pode haver uma conexão entre você e a empresa que se interessou separadas por seguimentos, tudo em um lugar só, e calma que ainda não acabou, além disso ainda tem as projeções de cada empresa, tudo isso a gente facilita para você!</p>
            <a href="/connections"><button id="btn-login">Ver Conexões</button></a>
        </div>
    </div>

</body>
</html>