<%- include('partials/head.ejs') -%>
    <%- include('partials/navbar.ejs') -%>

    <div id="content">
        <h1>Upload</h1>
        <p>Somos uma startup idealizada para auxiliar o processo de investimentos estrangeiros no Estado do Ceará. Contamos com uma equipe multidisciplinar e preparada para auxiliar através de nossos serviços o processo de investimentos.</p>
    </div>

    <div id="image">
        <img src="http://localhost:8080/undraw_file_analysis_8k9b.png" alt="">
    </div>

</body>
</html>