<%- include('partials/head.ejs') -%>
    <%- include('partials/navbar.ejs') -%>

    <div id="content">
        <h3>Bem vindo ao suporte</h3>
        <hr>
        <h4>Upload</h4>
        <input type="search" name="faq" class="input" id="faq" placeholder="Buascar no suporte">
    </div>

</body>
</html>