@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    position: absolute;
    top: 30px;
    left: 10%;
}

.logo img {
    width: 70px;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #302B63;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin: 20px 5%;
}

button {
    color: white;
    font: 30px;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin: 0 0px;
}

#btn-login {
    background-color: #302B63;
}

#btn-cadastrar {
    background-color: #24243E;
}

#navbar li a {
    color: #4D4B4B;
    font: 30px;
    padding: 8px;
    text-decoration: none;
    margin: 0 15px;
}

.join {
    margin: 0 0px;
}

#content {
    position: absolute;
    width: 30%;
    left: 10%;
    top: 200px;
    color: #4D4B4B;
}

#content h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

#content p {
    font-weight: 300;
    font-size: 18px;
}

#image {
    position: absolute;
    top: 300px;
    right: 200px;
}

#image img {
    width: 300px;
}

/* RESGISTER */
#register-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(270deg, #7B86EE 0%, #3E2071 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    color: white;
}

.form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-background {
    width: 50%;
    height: 100%;
    background-color: white;
}

#image-background img {
    position: absolute;
    width: 60%;
    left: 40%;
    top: -50px;
}

.input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 0.54;
    width: 350px;
    height: 42px;
    margin: 10px 0;
    padding: 0 20px;
}

.submit {
    border: 2px solid #3E2071;
    cursor: pointer;
    color: #3E2071;
    width: 80%;
    height: 50px;
    margin: 30px 10% 0 10%;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

#login-links {
    width: 40%;
    padding: 20px;
    text-align: center;
}

#login-links a {
    opacity: 0.5;
    color: #FFFFFF;
}

#content h2 {
    margin-top: 20px;
    font-size: 16px;
    color: #042331;
}

#content h3 {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
    color: #042331;
}

#content h4 {
    margin: 20px 0;
    font-size: 40px;
    text-align: center;
    color: #042331;
}

#content input, #content label, #content a {
    margin: 10px 10%;
    width: 80%;
}

/* SIDEBAR */

.sidebar {
    z-index: 1110;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.sidebar li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    right: 40px;
    top: 25px;
    color: white;
    font-size: 35px;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    right: -250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}

#check:checked ~ section {
    margin-left: 250px;
}

/* SERVICES */
#services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10%;
    color: #4D4B4B;
}

#services-1, #services-2 {
    padding-right: 50px;
}

#services-1 h1, #services-2 h1 {
    font-size: 30px;
}

#services hr {
    margin: 20px 0;
}

#services button {
    margin: 20px 0;
}

/* analise */
#table {
    width: 400px;
    height: 400px;
    width: 80%;
    padding: 5% 10%;
}

#table img {
    width: 80%;
}

@media screen and (min-width: 800px) {
    #btn-menu {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
    #content {
        width: 80%;
        left: 0;
        margin: 0 10%;
    }
    #image {
        display: none;
    }

    #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 150px 10% 0 10%;
    }

    #services #services-1 {
        padding-right: 0px;
    }
    
    #services #services-2 {
        padding-left: 0px;
    }
    #table {
        width: 80%;
        left: 0;
        padding: 150px 10% 0 10%;
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    
    #image-background {
        display: none;
    }

    .input {
        width: 90%;
    }
}
